<!doctype html>
<html lang="en" ng-app="api_top">
<head>
  <meta charset="utf-8">
  <title>API stats</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="css/app.css">

<script src="bundle.js"></script>
</head>



<!-- <div  ng-controller="ApiCtrl"> -->
<div ng-controller="ApiCtrl">
<form id="submit" ng-submit="submit()">
  <h1>API stats</h1>
   Select schema(s): <input ng-model="schema2">
   <input type="submit" id="submit" value="Fetch variables" />
   <br />
   <br />
</form>
<form id="submit_vars" ng-submit="submit_vars()">
   <label for="varsV">Select variable(s): </label>
   <select id="varsV" ng-model="varsV" multiple>
        <option id="selectedV" ng-repeat="itemV in keysV" value="{{itemV}}">{{itemV}}</option>
   </select><br /><br />

   <label for="vars">Select variables: </label>
   <select id="vars" ng-model="vars" multiple>
        <option id="selected" ng-repeat="item in keys" value="{{item}}">{{item}}</option>
      </select>
      <br /><br />
        <input type="submit" id="submit_vars" value="Fetch parameters" />

    <h2>Results {{vars}}</h2>
    <div id="chart" class="chart"></div>
</form>
</div>




<!-- </div>  -->
 <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

</body>

</html>
